:root {
    --cor-fundo-cabecalho: #FFA552;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-funfo-opcoes: #FCDE9C;
    --cor-botao: #FFA552;
    --fonte-do-main: #FFA552;
}
.cabecalho {
    background-color: var(--cor-fundo-cabecalho);
    color: var(--cor-branco);
    display: flex;
    justify-content: center;
}
    .cabecalho__titulo {
        font-weight: 500;
        margin: 12px;
    }