:root {
    --cor-fundo-cabecalho: #FFA552;
    --cor-branco: #fff;
    --cor-preto: #000;
    --cor-funfo-opcoes: #FCDE9C;
    --cor-botao: #FFA552;
    --fonte-do-main: #FFA552;
}
body {
    width: auto;
}
.cabecalho {
    background-color: var(--cor-fundo-cabecalho);
    height: 30px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
    .cabecalho__botao-hamburguer {
        display: flex;
        width: 25px;
        height: 25px;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
        z-index: 3;
    }
        .fatia {
            height: 3px;
            width: 100%;
            background-color: var(--cor-branco);
            transition: .5s;
        }
        .fatia1-clicada {
            transform: rotate(45deg) translateY(10px);
            transition: .5s;
        }
        .fatia2-clicada {
            transform: rotate(-45deg) translate(-5px,-5px);
            transition: .5s;
        }
        .fatia3-clicada {
            transform: translateX(100px);
            transition: .5s;
        }
    .opcoes {
        position: absolute;
        background-color: var(--cor-fundo-cabecalho);
        height: 100vh;
        width: 0;
        z-index: 2;
        transition: .5s;
        overflow: hidden;

    }
        .opcoes-clicada {
            width: 80vw;
        }
.principal{
    margin: 0;
    background-color: #f0deb8;
}
    .principal__capa {
        display: flex;
        overflow-x: scroll;
    }
        .principal__capa--opcoes {
            display: flex;
            ;
        }
            .opcao__imagem {
                height: 219px;
                width: 100vw;
            } 
    .principal__destaque {
        
    } 
        .principal__destaque--titulo{
            display: flex;
            justify-content: center;
            color: var(--fonte-do-main);
            font-size: 20px;
            font-weight: bold;
            margin: 20px 0;
        }
        .principal__destaque--opcao{
            background-color: var(--cor-funfo-opcoes);
            padding: 20px;
            margin: 0 10px;
            border-radius: 20px;
            box-shadow: rgba(207, 106, 12, 0.925) 0px 0.0625em 0.0625em, rgba(207, 106, 12, 0.925) 0px 0.125em 0.5em, rgba(207, 106, 12, 0.925) 0px 0px 0px 1px inset;
            
        }
        .principal__destaque--opcoes {
            display: flex;
            overflow-x: scroll;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
            
        }
            .opcao__imagem--destaque {
                height: 219px;
                width: 100vw; 
            }
.principal__ofertas {
        
    }
    .principal__ofertas--titulo {
        display: flex;
        justify-content: center;
        color: var(--fonte-do-main);
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px  ;
    }
    .principal__ofertas--opcoes {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }
    .principal__ofertas--opcao {
        margin: 20px;
        background-color: var(--cor-funfo-opcoes);
        padding: 20px;
        border-radius: 30px;
        position: relative;
        box-shadow: rgba(207, 106, 12, 0.925) 0px 15px 25px, rgba(207, 106, 12, 0.925) 0px 5px 10px;
    }

    .opcao__imagem--ofertas {
        height: 170px;
        width: 65vw;
    }
    .oferta {
        background-color: var(--cor-botao);
        width: 70px ;
        height: 70px;
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        color: var(--cor-branco);
        position: absolute;
        top: -30px;
        left: -20px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }
.principal__principios {}
    .principal__principios--titulo {
        display: flex;
        justify-content: center;
        color: var(--fonte-do-main);
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px  ;
    }
